@if (selectedRoom) {
    <div class="chatbox-container">
        <div class="chatbox-header">
            <div>
                <div tuiCell>
                    <tui-avatar *ngIf="userReceiver?.profilePictureUrl" size="m" [src]="userReceiver.profilePictureUrl" />
                    <div class="d-flex flex-column gap-1">
                        <div *ngIf="userReceiver?.fullName" tuiTitle>{{userReceiver.fullName}}</div>
                        <div tuiSubTitle>{{'Active'}}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row gap-3">
                @for (item of chatBoxHeaderData; track $index) {
                <tui-icon [icon]="item.iconName || ''" [style.width.px]="'18'" [style.height.px]="'18'"
                    class="primary-color" style="cursor: pointer;">
    
                </tui-icon>
                }
            </div>
        </div>
        <div class="chatbox-content" #chatboxContent>
            <div class="messages-container">
                <ng-container *ngIf="messages$ | async as messages">
                    <div *ngFor="let message of messages" class="message" [ngClass]="{'sent': message.senderId !== userId, 'received': message.senderId === userId}">
                        <div *ngIf="message.attachedPosts">
                            <div *ngFor="let post of message.attachedPosts" class="attached-post">
                                <img *ngIf="post.media && post.media.length > 0" [src]="post.media[0].thumbnailUrl || post.media[0].url" alt="Thumbnail" class="thumbnail">
                                <div class="content-text">{{ post.contentText }}</div>
                            </div>
                        </div>
                        <div *ngIf="message.contentText" class="message-content">
                            {{ message.contentText }}
                        </div>
                        <div *ngIf="typingUser" class="typing-indicator">
                            <div class="typing-dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <span>{{ typingUser.fullName }} is typing...</span>
                        </div>
                    </div>
                    <div *ngIf="!messages.length" class="no-messages">
                        <div class="message-item font-14 d-flex flex-column align-items-center">
                            <tui-icon icon="@tui.message-square-text" class="comment-icon"
                                [style.width.px]="'48'"
                                [style.height.px]="'48'"
                            ></tui-icon>
                            <span class="no-messages-text">Leave the first message</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="chatbox-footer">
            <div class="d-flex gap-3">
                <tui-icon 
                    tuiDropdownOpen
                    [tuiDropdown]="content"
                    class="primary-color" icon="@tui.message-circle-plus">
                </tui-icon>
            </div>
            <ng-template #content>
                <div class="dropdown">
                        <tui-input
                        class="form-field"
                        [(ngModel)]="postUrl"
                        style="width: 300px;"
                        >
                        Post URL
                        <input tuiTextfieldLegacy placeholder="Enter your post URL"/>
                    </tui-input>
                </div>
            </ng-template>
            <div *ngIf="filePreviewUrls.length > 0" class="file-preview-container">
                <div *ngFor="let preview of filePreviewUrls; let i = index" class="file-preview">
                  <ng-container *ngIf="selectedFiles[i]?.type?.startsWith('image/')">
                    <img [src]="preview" class="preview-image">
                  </ng-container>
                  <ng-container *ngIf="selectedFiles[i]?.type?.startsWith('video/')">
                    <video [src]="preview" class="preview-video" controls></video>
                  </ng-container>
                  <button (click)="removeFile(i)" class="remove-file-btn">×</button>
                </div>
            </div>
            <input (keydown.enter)="sendMessage()" [(ngModel)]="newMessage" #inputChat class="input-chat" style="border: none; flex: 1; width: 100%;" placeholder="Write a message"
                type="search">
            <div>
               
                <input 
                    type="file" 
                    #fileInput 
                    (change)="onFileSelected($event)" 
                    multiple 
                    style="display: none;">
                    <div class="d-flex gap-3">
                        <tui-icon 
                          (click)="fileInput.click()"
                          class="primary-color" 
                          icon="@tui.paperclip">
                        </tui-icon>
                    </div>
            </div>
        </div>
    </div>
}