<div class="d-flex flex-row gap-3 justify-content-between" style="
    padding: 0 22px 0 22px; height: 100px; align-items: center;
    ">
    <div class="d-flex flex-row gap-3 align-items-center">
        <div class="button-action color-primary-header-item" (click)="onToggleSidebar()">
            <tui-icon 
            icon="@tui.menu"
            class=""
            >
            </tui-icon>
        </div>
            <ng-lottie
                [options]="options" width="100px" height="100px"
            >

            </ng-lottie>
    </div>
    <div class="search-bar">
        <tui-icon class="p-3 mx-3 primary-color" 
            icon="@tui.chevron-down"
            tuiDropdownOpen
            [tuiDropdown]="searchDialog" 
            >
        </tui-icon>
        <ng-template class="search-dialog-container" #searchDialog>
            <div *ngFor="let item of listSelectionSearch; let $index = index" 
                 class="search-dialog-item"
                    [ngClass]="{'selected': selectedSearch.value === item.value}"
                 (click)="onSelectedSearch(item)">
                 <span>
                     {{item.label}}
                 </span>
            </div>
        </ng-template>
        <div class="search-bar-container">
            <div class="search-bar">
                <input 
                    #inputSearch
                    [(ngModel)]="searchValue"
                    (keydown.enter)="onSearch()"
                    (input)="onSearchTyping()"
                    class="input-search"
                    [placeholder]="placeholder.search + ' ' + selectedSearch.label"
                    type="search"
                />
        
                <tui-icon 
                    class="p-3 mx-3 primary-color" 
                    (click)="focusSearchInput()" 
                    icon="@tui.search">
                </tui-icon>
            </div>
        
            <!-- Dropdown for Search Values -->
            <ng-container *ngIf="dropdownSearchValue && dropdownSearchValue.length > 0">
                <div class="dropdown-search-container">
                    <div 
                        [tuiSkeleton]="isLoading"
                        class="dropdown-search-item"
                        *ngFor="let item of dropdownSearchValue; let index = index"
                        (click)="onSelectedDropdownSearch(item)">
                        <span class="text-truncate">{{item?.contentText}}</span>
                    </div>
                </div>
            </ng-container>
        
            <!-- Dropdown for User Values -->
            <ng-container *ngIf="dropdownSearchValueUser && dropdownSearchValueUser.length > 0">
                <div class="dropdown-search-container">
                    <div 
                        [tuiSkeleton]="isLoading"
                        class="dropdown-search-item"
                        *ngFor="let item of dropdownSearchValueUser; let index = index"
                        (click)="onSelectedDropdownSearch(item)">
                        <span class="text-truncate">{{item?.fullName}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        
        
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3">
        @if(user) {
            <div class="d-flex justify-content-center align-items-center gap-3">
                <div class="button-action"
                    tuiDropdownHover
                    [tuiDropdown]="userDialog"    
                >
                    <tui-icon class="" 
                        
                        icon="@tui.user">
                    </tui-icon>
                </div>
                <ng-template #userDialog>
                    <app-user-dialog 
                        [user]="user"
                    ></app-user-dialog>
                </ng-template>
                <span>
                    <strong class="f-s-24" style="color: white">{{user.fullName}}</strong>
                </span>
            </div>
        }
        <div class="button-action"
        >
            <tui-badged-content [style.--tui-radius.%]="50">
                <tui-badge-notification
                    size="s"
                    tuiSlot="top"
                    tuiBadge
                    appearance="positive"
                    style="background-color: red;"
                >
                    120
                </tui-badge-notification>
                <tui-icon 
                    class="d-flex align-items-center " 
                    icon="@tui.bell">
                </tui-icon>
            </tui-badged-content> 
        </div>
       	 
        
        <div class="align-items-center button-action"
            (click)="logOut()"
        >
                <tui-icon 
                class=""
                icon="@tui.log-out"
            >
        </tui-icon>
    </div>
  

</div>