.share-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share-button {
    background-color: #71AAEB;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.share-button:hover {
    background-color: #0095FF;
}



