@if(item) {
    <div class="post-item-containter">
        <div class="post-header">
            <div class="left-header">
                <tui-avatar [size]="'l'">{{ 'TD' | uppercase }}</tui-avatar>
                <div>
                        <a class="primary-color"
                            style="font-weight: bold;
                            text-decoration: none;
                            cursor: pointer;
                            "
                        >
                            Trieu Do Quang
                        </a>
                        <div style="color: gray">
                            3 Nov at 11:31 pm
                        </div>
                    </div>
            </div>
            <div class="right-header">
                <tui-icon class="follow-button"
                    [style.height.px]="'18'"
                    [style.width.px]="'18'"
                    icon="@tui.user-round-plus">
                </tui-icon>
                <tui-icon class="more-button"
                    icon="@tui.ellipsis">
                </tui-icon>

            </div>

        </div>
        <div class="post-description">
            <span>
                {{ item.description + item.description + item.description + item.description}}
            </span>
            <h5> {{item.name}}: {{item.price}}đ</h5>
        </div>
        <div class="post-media-url"
            tuiCarouselButtons
        >
            @if(item.mediaUrl){
                <!-- @if(currentIndex != 0) { -->
                    <button
                    iconStart="@tui.chevron-left"
                    tuiIconButton
                    class="prev-button"
                    type="button"
                    size="s"
                    (click)="carousel.prev()"
                    >
                    Previous
                    </button>
                <!-- } -->
                <tui-carousel
                    #carousel
                    class="carousel"
                    [style.--tui-carousel-padding]="0"
                    (indexChange)="onCarouselChange($event)"
                >
                    @for (item of item.mediaUrl; track $index) {
                        @if(item.imageUrl) {
                            @for (item of item.imageUrl; track $index) {
                                <img *tuiItem src="{{ item }}" alt="image" class="carousel-image">
                            }
                        }
                        @if(item.videoUrl) {
                            @for (item of item.videoUrl; track $index) {
                                <video *tuiItem src="{{ item }}" controls class="carousel-video">
                                    Your browser does not support the video tag.
                                </video>
                            }
                        }
                    }
                </tui-carousel>
                <!-- @if (currentIndex != item.mediaUrl.length - 1) {
                    
                } -->
                <button
                    iconStart="@tui.chevron-right"
                    tuiIconButton
                    type="button"
                    class="next-button"
                    size="s"
                    (click)="carousel.next()"
                    >
                    Next
                </button>
            }
        </div>

        <div class="divider"></div>

        <div class="post-footer">
            <div class="item-footer-post">
                <tui-icon class=""
                    [style.height.px]="18"
                    [style.width.px]="18"
                    icon="@tui.heart">
                </tui-icon>
                <span>300</span>
            </div>

            <div class="item-footer-post">
                <tui-icon class=""
                    icon="@tui.message-circle"
                    [style.height.px]="18"
                    [style.width.px]="18"
                    >
                </tui-icon>
                <span>255</span>
            </div>

            <div class="item-footer-post">
                <tui-icon class=""
                    icon="@tui.forward"
                    [style.height.px]="18"
                    [style.width.px]="18"
                    >
                </tui-icon>
                <span>255</span>
            </div>

        </div>
    </div>
}
