.post-item-containter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 20px;
}

.post-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.more-button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}


.follow-button {
    color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post-media-url {
    display: flex;
    align-items: center;
    /* width: 100%; */
}


.prev-button {
    color: #fff !important;
    border: none !important;
    padding: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    z-index: 9999;
    position: absolute;
}
.next-button {
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    z-index: 9999;
    position: absolute;
    transform: translateX(1950%);
}
.carousel {
    position: relative;
    width: fit-content;
    margin: 0 auto; 
    border-radius: 10px;
}

  .carousel-image,
  .carousel-video {
    display: block; 
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

.divider {
    margin: 0px 0px !important;
}

.post-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item-footer-post {
    border: 1px solid #e8e1e1;
    background-color: #f1f1f1;
    font-size: 14px;
    width: fit-content;
    color: gray;
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.post-description {
    display: flex;
    gap: 5px;
    flex-direction: column;
}