.post-item-containter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.post-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.more-button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.more-button:hover {
    background-color: #f1f1f1;
}

.follow-button {
    color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post-media-url {

}


.prev-button {
    color: #fff !important;
    border: none !important;
    padding: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    z-index: 9999;
    transform: translateX(-50%);
    transform: translateY(190px);
}

/* .prev-button:hover {
    background-color: #e1e1e1 !important;
} */

.next-button {
    color: #fff !important;
    border: none !important;
    padding: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transform: translate(80%,-207px);
    left: 88%;
    z-index: 9999;

}
/* 
.next-button:hover {
    background-color: #e1e1e1 !important;
} */


  .carousel-image,
  .carousel-video {
    border-radius: 10px;
  }

.divider {
    margin: 0px 0px !important;
}

.post-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item-footer-post {
    border: 1px solid #e8e1e1;
    background-color: #f1f1f1;
    font-size: 14px;
    width: fit-content;
    color: gray;
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.post-description {
    display: flex;
    gap: 5px;
    flex-direction: column;
}