@if(post) {
    <div class="post-item-containter">
        <div class="post-header">
            <div class="left-header">
                <tui-avatar [tuiSkeleton]="isLoading" [size]="'l'">{{ 'TD' | uppercase }}</tui-avatar>
                <div>
                        <a class="primary-color"
                            style="font-weight: bold;
                            text-decoration: none;
                            cursor: pointer;
                            "
                            [tuiSkeleton]="isLoading"
                        >
                            {{post.user.fullName}}
                        </a>
                        <div style="color: gray"
                            [tuiSkeleton]="isLoading"
                        >
                            {{post.createdAt | date: 'dd/MM/yyyy: HH:mm'}}
                        </div>
                    </div>
            </div>
            <div class="right-header">
                <tui-icon class="follow-button"
                    [style.height.px]="'18'"
                    [style.width.px]="'18'"
                    icon="@tui.user-round-plus"
                    [tuiSkeleton]="isLoading"
                    >
                </tui-icon>
                <tui-icon class="more-button"
                    icon="@tui.ellipsis"
                    tuiDropdownHover
                    [tuiDropdown]="moreDialog"
                    [tuiSkeleton]="isLoading"
                    >
                </tui-icon>
                <ng-template #moreDialog>
                    <app-more-dialog></app-more-dialog>
                </ng-template>

            </div>

        </div>
        <div class="post-description">
            <span
            [tuiSkeleton]="isLoading"
            >
                {{post.contentText}}
            </span>
            <!-- <h5> {{item.name}}: {{item.price}}đ</h5> -->
        </div>
        <div class="post-media-url"
            tuiCarouselButtons
            [tuiSkeleton]="isLoading"

        >
            @if(post.media){
                <!-- @if(currentIndex != 0) { -->
                    <button
                    iconStart="@tui.chevron-left"
                    tuiIconButton
                    class="prev-button"
                    type="button"
                    size="s"
                    (click)="carousel.prev()"
                    >
                    Previous
                    </button>
                   
                <!-- } -->
                <tui-carousel
                    #carousel
                    class="carousel"
                    [style.--tui-carousel-padding]="0"
                    (indexChange)="onCarouselChange($event)"
                >
                    @for (item of post.media; track $index) {
                        <!-- @if(item.imageUrl) { -->
                            <!-- @for (item of item.imageUrl; track $index) { -->
                                <img [tuiSkeleton]="isLoading" *tuiItem src="{{ item.url }}" alt="image" class="carousel-image">
                            <!-- } -->
                        <!-- } -->
                        <!-- @if(item.videoUrl) {
                            @for (item of item.videoUrl; track $index) {
                                <video *tuiItem src="{{ item }}" controls class="carousel-video">
                                    Your browser does not support the video tag.
                                </video>
                            }
                        } -->
                    }
                </tui-carousel>
                <button
                iconEnd="@tui.chevron-right"
                    tuiIconButton
                    type="button"
                    class="next-button"
                    size="s"
                    (click)="carousel.next()"
                >
                Next
                </button>
                <!-- @if (currentIndex != item.mediaUrl.length - 1) {
                    
                } -->
               
            }
        </div>

        <div class="post-footer"
            [tuiSkeleton]="isLoading"
        >
            <div class="d-flex gap-3">
                <div class="item-footer-post"
                    tuiDropdownHover
                    [tuiDropdown]="reactionDialog"
                >
                    <tui-icon class=""
                        [style.height.px]="18"
                        [style.width.px]="18"

                        icon="@tui.heart">
                    </tui-icon>
                    <span>{{post.likesCount}}</span>
                </div>

                <ng-template #reactionDialog>
                    <app-reaction-dialog></app-reaction-dialog>
                </ng-template>

                <div class="item-footer-post">
                    <tui-icon class=""
                        icon="@tui.message-circle"
                        [style.height.px]="18"
                        [style.width.px]="18"
                        >
                    </tui-icon>
                    <span>{{post.commentsCount}}</span>
                </div>
            </div>

            <div>
                <div class="item-footer-post"
                    (click)="onShare()"
                >
                    <tui-icon class=""
                        icon="@tui.forward"
                        [style.height.px]="18"
                        [style.width.px]="18"
                        >
                    </tui-icon>
                </div>
            </div>
        </div>
    </div>
}
