
@if(post) {
    <div class="post-item-containter"
    >
        <div class="post-header"> 
            <div class="left-header">
                @if (post.user.profilePictureUrl) {
                    <tui-avatar 
                        tuiDropdownHover
                        [tuiDropdown]="userPost"
                        [tuiDropdownHideDelay]="dropdownHideDelay"
                        [size]="'l'" [src]="post.user.profilePictureUrl"></tui-avatar>
                }
                @else {
                    <tui-avatar 
                        tuiDropdownHover
                        [tuiDropdown]="userPost"
                        [tuiDropdownHideDelay]="dropdownHideDelay"
                        [size]="'l'">{{ post.user.fullName | firstLetterWord }}
                    </tui-avatar>
                }
                <div>
                        <a class="primary-color"
                            *ngIf="post.user"
                            tuiDropdownHover
                            [tuiDropdown]="userPost"
                            [tuiDropdownHideDelay]="dropdownHideDelay"
                            style="font-weight: bold;
                            text-decoration: none;
                            cursor: pointer;
                            "
                        >
                            {{post.user.fullName}}
                        </a>
                        <ng-template #userPost>
                            <app-user-post-dialog [user]="post.user"></app-user-post-dialog>
                        </ng-template>
                        <div style="color: gray"
                        >
                            {{post.createdAt | date: 'dd/MM/yyyy: HH:mm'}}
                        </div>
                    </div>
            </div>
            <div class="right-header">
                <tui-icon class="more-button"
                    icon="@tui.ellipsis"
                    tuiDropdownHover
                    [tuiDropdown]="moreDialog"
                    [tuiDropdownHideDelay]="300"
                
                    >
                </tui-icon>
                <ng-template #moreDialog>
                    <app-more-dialog [post]="post"></app-more-dialog>
                </ng-template>

            </div>

        </div>
        <div class="post-description">
            <span
                class="content-text"
            >
                {{post.contentText}}
            </span>
            <div class="d-flex flex-row gap-2">
                <tui-tag class="tags"
                    *ngFor="let tag of post.tags"
                    size="l"
                    [value]="'#' + tag"
                    [hoverable]="true"
                    
                >
                </tui-tag>
            </div>
        </div>
        <div class="post-media-url"
            tuiCarouselButtons
        >   
            @if(post.media){
                @if(currentIndex != 0) {
                    <button
                    *ngIf="post.media.length > 1"
                    iconStart="@tui.chevron-left"
                    tuiIconButton
                    class="prev-button"
                    type="button"
                    size="s"
                    (click)="carousel.prev()"
                    >
                    Previous
                    </button>
                   
                }
                <tui-carousel
                    #carousel
                    class="carousel"
                    [(index)]="currentIndex"
                    [style.--tui-carousel-padding]="0"
                    (indexChange)="onCarouselChange($event)"
                >
                <ng-container class="d-flex justify-content-center align-items-center">
                @for (item of post.media; track $index) {
                    <div
                    *tuiItem 
                    class="d-flex justify-content-center align-items-center w-100 h-100"
                    >
                            @if(item?.contentType === 'image') {
                                <img 
                                    src="{{ item?.url }}" 
                                    class="carousel-image"
                                >
                            }
                            @if(item?.contentType === 'video') {
                                <video 
                                    [width]="'500'" 
                                    [height]="'500'" 
                                    src="{{ item?.url }}" 
                                    controls 
                                    class="carousel-video"
                                >
                                    Your browser does not support the video tag.
                                </video>
                            }
                        </div>
                    }
                </ng-container>
                </tui-carousel>
                
                @if (currentIndex != post.media.length - 1) {
                    <button
                    iconEnd="@tui.chevron-right"
                    tuiIconButton
                    type="button"
                    class="next-button"
                    size="s"
                    (click)="carousel.next()"
                    *ngIf="post.media.length > 1"
                    >
                    Next
                </button>
                }
            }
          
        </div>
        <tui-pagination
                size="s"
                class="pagination"
                [length]="post.media.length"
                [(index)]="currentIndex"
                *ngIf="post.media.length > 1"
            />
        <div class="post-footer"
        
        >
            <div class="d-flex gap-3">
                <div class="item-footer-post"
                    tuiDropdownHover
                    [tuiDropdown]="reactionDialog"
                    [ngStyle]="{'background-color': isReacted && reactionsType[reactionType] ? '#71AAEB': ''}"
                >
                <tui-icon *ngIf="!isReacted || !reactionsType[reactionType]?.emoji"
                    icon="@tui.heart"
                    [style.height.px]="18"
                    [style.width.px]="18"
                    >
                </tui-icon>
                    <span *ngIf="isReacted && reactionsType[reactionType]?.emoji"
                    >
                        {{reactionsType[reactionType].emoji}}
                      </span>
                    <span
                      [ngStyle]="{'color': isReacted && reactionsType[reactionType] ? 'white': ''}"
                    >{{post.reactions.length}}</span>
                </div>

                <ng-template #reactionDialog>
                    <app-reaction-dialog [isReacted]="isReacted" [reactedReactionType]="reactionType" (onReaction)="getReactionReacted($event)" [postItem]="post"></app-reaction-dialog>
                </ng-template>

                <div class="item-footer-post"
                    (click)="onComment(post)"
                >
                    <tui-icon class=""
                        icon="@tui.message-circle"
                        [style.height.px]="18"
                        [style.width.px]="18"
                        >
                    </tui-icon>
                    @if (comments) {
                        <span>{{comments.length}}</span>
                    }
                    @else {
                        <span>0</span>
                    }
                </div>
            </div>

            <div class="d-flex gap-3">
                <div class="item-footer-post"
                    (click)="onCopy()"
                    [cdkCopyToClipboard]="post.link || ''"
                >
                    <tui-icon class=""
                        icon="@tui.copy"
                        [style.height.px]="18"
                        [style.width.px]="18"
                        >
                    </tui-icon>
                </div>
                <div class="item-footer-post"
                    (click)="onShare()"
                >
                    <tui-icon class=""
                        icon="@tui.forward"
                        [style.height.px]="18"
                        [style.width.px]="18"
                        >
                    </tui-icon>
                </div>
            </div>
        </div>
    </div>
}
