
<tui-notification *ngIf="!user?.phoneNumber && showWarning"  class="d-flex flex-row align-items-center justify-content-center" style="margin: 5px 5px;" status="warning" appearance="warning"
    size="m">
        <strong>Warning:</strong> Please add a phone number to your profile to enhance your credibility.
        <button
            (click)="turnOffWarning()"
            iconStart="@tui.x"
            tuiIconButton
            type="button"
            >
            Close
        </button>
</tui-notification>
<ng-container>
    <form [formGroup]="form" class="profile-form">
        <div class="header-profile">
            <div class="user-profile-section">
                <div class="avatar-container">
                    <tui-avatar *ngIf="f['profilePictureUrl']?.value" [size]="'xl'"
                        [src]="f['profilePictureUrl'].value"
                        class="profile-avatar">
                    </tui-avatar>
                    <tui-avatar *ngIf="!f['profilePictureUrl']?.value" [size]="'xl'" class="profile-avatar">
                        {{f['fullName'].value.charAt(0) | uppercase}}
                    </tui-avatar>
                    <div class="avatar-edit-button" (click)="editAvatar()">
                        <tui-icon icon="@tui.pencil" size="m"></tui-icon>
                    </div>
                </div>
                <div class="user-info">
                    <h4 *ngIf="f['fullName']?.value" class="user-name">
                        {{f['fullName'].value}}
                    </h4>
                    <div *ngIf="f['email']?.value" class="user-email">
                        <tui-icon class="email-icon" icon="@tui.mail" size="s"></tui-icon>
                        <span>{{f['email'].value}}</span>
                    </div>
                </div>
            </div>
            <button class="save-profile-button" tuiButton type="button" (click)="saveProfile()">
                Save
            </button>
        </div>

        <div class="divider"></div>

        <div class="profile-content">
            <div class="form-container">
                <div class="form-row">
                    <tui-input
                        class="form-field"
                        formControlName="country"
                        [tuiSkeleton]="isLoading">
                        Country
                        <input tuiTextfieldLegacy placeholder="Enter your country"/>
                    </tui-input>

                    <tui-input
                        class="form-field"
                        formControlName="city"
                        [tuiSkeleton]="isLoading">
                        City
                        <input tuiTextfieldLegacy placeholder="Enter your city"/>
                    </tui-input>
                </div>

                <div class="form-row">
                    <tui-input
                        class="form-field"
                        formControlName="fullName"
                        [tuiSkeleton]="isLoading">
                        Full Name
                        <input tuiTextfieldLegacy placeholder="Enter your full name"/>
                    </tui-input>

                    <tui-input
                        class="form-field"
                        formControlName="phoneNumber"
                        [tuiSkeleton]="isLoading">
                        Phone Number
                        <input tuiTextfieldLegacy placeholder="Enter your phone number"/>
                    </tui-input>
                </div>

                <div class="form-row">
                    <tui-input
                        class="form-field"
                        formControlName="email"
                        [tuiSkeleton]="isLoading">
                        Email
                        <input tuiTextfieldLegacy placeholder="Enter your email address"/>
                    </tui-input>

                    <tui-input-date
                        class="form-field"
                        formControlName="dateOfBirth"
                        [tuiSkeleton]="isLoading">
                        Birthday
                        <input tuiTextfieldLegacy placeholder="Choose your Birthday"/>
                    </tui-input-date>
                </div>

                <div class="form-row">
                    <tui-input-tag
                        class="form-field"
                        formControlName="interests"
                        [tuiTextfieldLabelOutside]="true"
                        [tuiSkeleton]="isLoading">
                        <i>Interests</i>
                    </tui-input-tag>

                    <tui-combo-box
                        class="form-field"
                        formControlName="gender"
                        [tuiSkeleton]="isLoading">
                        Gender
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="genders"/>
                    </tui-combo-box>
                </div>
            </div>
        </div>
    </form>
</ng-container>