<div class="container">
    <div class="card">
            <div class="left-side w-50">
                <h1>Registration</h1>
                    <div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="d-flex flex-column gap-3">
                                <tui-input 
                                formControlName="userName"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldCustomContent]="f['userName'].valid ? success : ''"
                                >
                                Username
                                </tui-input>
                                <ng-template #success>
                                    <tui-icon
                                        icon="@tui.check"
                                        class="success tui-space_left-3"
                                        style="color: green;"
                                    ></tui-icon>
                                </ng-template>
                                @if (f['userName'].touched && f['userName'].invalid) {
                                    @if (f['userName'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['userName'].errors?.['required']"
                                        >
                                        </tui-error>
                                    }
                                    <!-- @if (f['email'].errors?.['email']) {
                                        <tui-error class="error-message"
                                            [error]="f['email'].errors?.['email']"
                                        >
                                        </tui-error>
                                    } -->
                                }
                                <tui-input
                                    [tuiTextfieldCleaner]="true"
                                    [tuiTextfieldCustomContent]="f['fullName'].valid ? success : ''"
                                    formControlName="fullName">
                                    Full Name
                                </tui-input>
                                @if (f['fullName'].touched && f['fullName'].invalid) {
                                    @if (f['fullName'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['fullName'].errors?.['required']"
                                        >
                                        </tui-error>
                                    }
                                    <!-- @if (f['phoneNumber'].errors?.['phoneNumber']) {
                                        <tui-error class="error-message"
                                            [error]="f['phoneNumber'].errors?.['phoneNumber']"
                                        >
                                        </tui-error>
                                    } -->
                                }

                                <tui-input 
                                formControlName="email"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldCustomContent]="f['email'].valid ? success : ''"
                                >
                                Email
                                </tui-input>

                                @if (f['email'].touched && f['email'].invalid) {
                                    @if (f['email'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['email'].errors?.['required']"
                                        >
                                        </tui-error>
                                    }
                                    @if (f['email'].errors?.['email']) {
                                        <tui-error class="error-message"
                                            [error]="f['email'].errors?.['email']"
                                        >
                                        </tui-error>
                                    }
                                }
                                
                                <tui-input-password
                                    [tuiTextfieldCleaner]="true"
                                    [tuiTextfieldCustomContent]="f['password'].valid ? success : ''"
                                    formControlName="password"
                                    >
                                    Password
                                </tui-input-password>
                                @if (f['password'].touched && f['password'].invalid) {
                                    @if (f['password'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['password'].errors?.['required']"
                                        >
                                        </tui-error>
                                    }
                                    @if (f['password'].errors?.['password']) {
                                        <tui-error class="error-message"
                                            [error]="f['password'].errors?.['password']"
                                            >
                                        </tui-error>
                                    }
                                }

                                <tui-input-password
                                    [tuiTextfieldCleaner]="true"
                                    [tuiTextfieldCustomContent]="f['confirmationPassword'].valid ? success : ''"
                                    formControlName="confirmationPassword"
                                    >
                                    Confirm Password
                                </tui-input-password>
                                @if (f['confirmationPassword'].touched && f['confirmationPassword'].invalid) {
                                    @if (f['confirmationPassword'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['confirmationPassword'].errors?.['required']"
                                        >
                                        </tui-error>
                                    }
                                    @if (f['confirmationPassword'].errors?.['compare'] && !f['confirmationPassword'].errors?.['required']) {
                                        <tui-error class="error-message"
                                            [error]="f['confirmationPassword'].errors?.['compare']"
                                            >
                                        </tui-error>
                                    }
                                }
                            </div>
                            <button type="submit" class="submit-button w-100 mt-3" color="primary" [disabled]="!form.valid || isLoading">
                                <ng-container *ngIf="!isLoading">Sign In</ng-container>
                                <ng-container *ngIf="isLoading">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="visually-hidden">Loading...</span>
                                </ng-container>                
                            </button>
                    </form>
                  
                        
                    <div class="switch">
                        <p>Have an account? 
                            <a class="login cursor-pointer" (click)="onClickNavigateLogin()">Login</a>
                        </p>
                    </div>
            </div>
        </div>
        <div class="right-side w-50">
            <ng-lottie
                [options]="options">
            </ng-lottie>            
            <div class="brand-name">
                Connect, Buy, Sell, and Discover with AI-Powered Recommendations
            </div>
            <div>
                Experience a smarter marketplace where AI transforms your shopping journey.
                Seamlessly connect with like-minded individuals, receive personalized product suggestions tailored to your interests, and discover new opportunities effortlessly. Whether you're buying or selling, our AI-driven insights make every interaction more efficient and rewarding. Join us and unlock the future of commerce today!            </div>
            <div class="d-flex justify-content-around align-items-center mt-3">
                @for (item of logoLoginLeftSide; track $index) {
                        <div class="d-flex flex-column align-items-center gap-3"> 
                            <tui-icon 
                                [icon]="item.iconName"
                                [style.color]="item.color"
                                >
                            </tui-icon>
                            <span>
                                {{item.name}}
                            </span>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>