.share-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share-button {
    background-color: #71AAEB;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.share-button:hover {
    background-color: #0095FF;
}


.input-post {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-shrink: 1;
}

.input-post:focus {
    outline: none;
    box-shadow: none;
}

.share-button .spinner-border {
    vertical-align: middle;
    margin-right: 5px;
}
