<div class="sidebar-chat-container">
    <div class="sidebar-chat-header">
        <div>
            <h4 class="primary-color">Chats</h4>
        </div>
        <div class="d-flex flex-row gap-3">
            @for (item of sidebarChatHeaderData; track $index) {
                <tui-icon
                    [icon]="item.iconName || ''"
                    [style.width.px]="'18'"
                    [style.height.px]="'18'"
                    class="primary-color"
                    style="cursor: pointer;"
                >

                </tui-icon>
            }
        </div>
    </div>
    <fieldset tuiTextfieldSize="m">
        <tui-textfield iconStart="@tui.search" class="search-conversation">
            <input
                placeholder="Search"
                tuiTextfield
                [(ngModel)]="searchValue"
                (input)="onSearchTyping()"
            />
        </tui-textfield>
    </fieldset>
    <div class="sidebar-chat-content" [tuiSkeleton]="isLoading" *ngIf="userSearchValue && searchValue">
        <ng-container *ngFor="let participant of userSearchValue">
        <label tuiCell
            (click)="selectUser(participant)"
        >
            <tui-avatar
                *ngIf="participant.id !== userId"
                size="l"
                [src]="participant.profilePictureUrl"
                class="tui-avatar-user">
            </tui-avatar>
            <div *ngIf="participant.id !== userId">
                <div tuiTitle>{{ participant?.fullName }}</div>
            </div>
        </label>
        </ng-container>
    </div>
    <div class="sidebar-chat-content" [tuiSkeleton]="isLoading" *ngIf="!userSearchValue.length && searchValue">
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <tui-avatar
                size="l"
                src="@tui.search"
                class="tui-avatar-user">
            </tui-avatar>
            <h4>No users found !</h4>
        </div>
    </div>

    <div [tuiSkeleton]="isLoading"  *ngIf="!searchValue" class="sidebar-chat-content">
        @for (room of rooms; track $index) {
            <div class="label-container"
            >
            <label tuiCell
            [ngStyle]="{'background-color': selectedRoom?.id === room?.id ? '#0000000A' : '' }"
            (click)="selectRoom(room)">
            <tui-badged-content *ngIf="room.participants">
                <ng-container *ngFor="let participant of room.participants">
                    <tui-avatar
                        *ngIf="participant.id !== userId"
                        size="l"
                        [src]="participant.profilePictureUrl"
                        class="tui-avatar-user">
                    </tui-avatar>
                </ng-container>
            </tui-badged-content>
            <div class="d-flex flex-column gap-1">
                <ng-container *ngFor="let participant of room.participants">
                    <div *ngIf="participant.id !== userId">
                        <div tuiTitle>{{ participant?.fullName }}</div>
                        <div tuiSubTitle>{{ room.messagePage?.data?.[0]?.contentText || '' }}</div>
                    </div>
                </ng-container>
            </div>
        </label>
            </div>
        }
    </div>
   
    <div class="divider"></div>
    <div class="sidebar-chat-footer">
        <label tuiCell>
            <tui-badged-content>
                <tui-avatar
                    size="s"
                    src="@tui.message-square-dot"
                />
            </tui-badged-content>
            <div tuiTitle>Unread Only</div>
            <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="unRead"
            />
        </label>
    </div>
</div>