<div class="d-flex flex-row gap-3">
    <div class="d-flex flex-column align-items-center gap-3" 
        style="
            width: 70%;
            ">
        <div class="new-post"
        >
            <app-user-new-post (postsCreated)="checkNewPostCreated($event)"></app-user-new-post>
        </div>
        @for (post of posts; track $index) {
            <div class="post-container">
                <app-post-item [post]="post" ></app-post-item>
            </div>   
        }
        <div *ngIf="loadingPosts" class="d-flex justify-content-center align-items-center loading-container">
            <div class="spinner"></div>
            <span>Loading...</span>
        </div>

    </div>

    <div class="" 
        style="
            width: 30%;
        ">
        <app-tag-item></app-tag-item>
        
    </div>
</div>