.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 700px;
}

.input-post {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-shrink: 1;
}


.input-item {
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    transition: border 0.3s; 
    background-color: white;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.input-post:focus {
    outline: none;
    box-shadow: none;
}   