<div class="tag-container">
    <div class="label-container">
        <label tuiCell >
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="negative"
                    icon="@tui.arrow-down-left"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.shopping-bag"
                />
            </tui-badged-content>
            <div
                tuiTitle
            >
                Recommend
                <div tuiSubtitle>Why would you?</div>
            </div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="incoming"
            /> -->
        </label>
        <label tuiCell>
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="positive"
                    icon="@tui.arrow-up-right"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.search"
                />
            </tui-badged-content>
            <div tuiTitle>Allow Search</div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="outgoing"
            /> -->
        </label>
    </div>
    
    <div class="label-container">
        <label tuiCell >
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="negative"
                    icon="@tui.arrow-down-left"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.smile-plus"
                />
            </tui-badged-content>
            <div
                tuiTitle
            >
                Reactions
                <!-- <div tuiSubtitle>Why would you?</div> -->
            </div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="incoming"
            /> -->
        </label>
        <label tuiCell>
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="positive"
                    icon="@tui.arrow-up-right"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.message-circle-more"
                />
            </tui-badged-content>
            <div tuiTitle>Comment</div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="outgoing"
            /> -->
        </label>
    </div>
    <div class="divider"></div>
    <h5 class="ml-3">#Hashtags</h5>
    <div class="label-container">
        <label tuiCell >
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="negative"
                    icon="@tui.arrow-down-left"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.user"
                />
            </tui-badged-content>
            <div
                tuiTitle
            >
                House
                <!-- <div tuiSubtitle>Why would you?</div> -->
            </div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="incoming"
            /> -->
        </label>
        <label tuiCell>
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="positive"
                    icon="@tui.arrow-up-right"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.paw-print"
                />
            </tui-badged-content>
            <div tuiTitle>Pet</div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="outgoing"
            /> -->
        </label>
        <label tuiCell>
            <tui-badged-content>
                <!-- <tui-icon
                    appearance="positive"
                    icon="@tui.arrow-up-right"
                    size="s"
                    tuiBadge
                    tuiSlot="top"
                /> -->
                <tui-avatar
                    size="s"
                    src="@tui.car"
                />
            </tui-badged-content>
            <div tuiTitle>Car</div>
            <!-- <input
                tuiSwitch
                type="checkbox"
                [(ngModel)]="outgoing"
            /> -->
        </label>
    </div>
</div>
