@if (isLoading) {
    <div class="loading-container">
        loading ...
    </div>
}

@else {
    @if (media) {
        <div class="enlarge-image-container">
            @if (media.contentType === "image") {
                <img 
                    [src]="media.url" 
                    class="enlarge-image"
                    alt="Enlarged Image"
                />
            }
            @if (media.contentType === "video") {
                <video 
                    [src]="media.url" 
                    controls
                    class="enlarge-video"
                >
                    Your browser does not support the video tag.
                </video>
            }
        </div>
    }
}
