@if(!isToggle) {
    <div class="d-flex flex-column align-items-center justify-content-center" (click)="onClickNavItem(item.displayName)">
        @if (item.iconName) {
                <div class="button-action" 
                    [tuiHint]="item.tooltip"
                    tuiHintDirection="top-left"
                    tuiHintPointer
                >
                    <tui-icon 
                        [icon]="item.iconName"
                        class="primary-color"
                        [style.height.px]="'18'"
                        [style.width.px]="'18'"
                        
                        >
                    </tui-icon>
                </div>
        }
    </div>
    

}
@else {
    @if (item) {
        <div class="sidenav-container" (click)="onClickNavItem(item.displayName)">
            <div class="d-flex flex-row nav-item gap-3" style="padding-left: 10px;"
            >
                @if (item.iconName) {
                    <div class="button-action">
                        <tui-icon 
                            [icon]="item.iconName"
                            class="primary-color"
                            [style.height.px]="'18'"
                            [style.width.px]="'18'"
                            >
                    </tui-icon>
                    </div>
                }
                @if (item.displayName) {
                    <div class="nav-item-name font-14">
                        <span>{{item.displayName}}</span>
                    </div>   
                }
            </div>
        </div>
    }
}

